* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    cursor: default;
}

#searchIcon {
width: 2.5em;
height: 2.5em;
margin: 1.5em 0 0 2.5em ;
}

.searchBar {
    display: flex;
    align-items: center;
    height: fit-content;
}

#input {
    margin-top: 10%;
    transform: translateX(-20em);
    opacity: 0;
    display: none;
}

#input.active {
    display: block;
    margin-top: 10%;
    transform: translateX(0em);
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 0.5s;
}

#input.hidden {
    display: block;
    margin-top: 10%;
    transform: translateX(-20em);
    opacity: 0;
	animation-name: fadeOutOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 0.5s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
		transform: translateX(-20em);
	}
    70% {
        opacity: 0;
    }
	100% {
		transform: translateX(0em);
        opacity: 1;
    }
}

@keyframes fadeOutOpacity {
    0% {
        opacity: 1;
        transform: translateX(0);
    }
    30% {
        opacity: 0;
    }
    100% {
        transform: translateX(-20em);
    }
}

.iconSpin {
    animation-name: spin;
    animation-duration: 200ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear; 
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

.main {
    width: 55em;
    height: 30em;
    border: 1px solid black;
    margin: 10em auto;
}

.locAndTemp {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10em;
    padding-left: 10em;
    height: 85%;
}

.units {
    display: flex;
    gap: 3em;
    font-size: 1.3em;
    text-decoration: underline;
}

.units>*:hover {
    color: burlywood;
    text-decoration: underline;
}

.units>*:active {
    color: greenyellow;
    text-decoration: underline;
}

.temp {
    display: flex;
}

.temp>img {
    width: 8em !important;
    height: 8em !important;
}

.temperature {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header {
    width: 100%;
    height: 40%;
    border-width: 0 0 1px 0;
    border-color: black;
    border-style: solid;
}

.localTime {
    padding-left: 6em;
}

h1 {
    font-size: 8em;
}

h2 {
    font-size: 2em;
}